@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair+Display&display=swap%27");

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Playfair Display', serif;
}

/* ━━━━━━━━━━━━━━━ Accueil */

.all_dashboard h2 {
    color: #333;
    text-align: center;
}

.all_dashboard h3 {
    color: #333;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    border: 1px solid black;
}

.all_dashboard {
    max-width: 800px;
    margin: 50px auto 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px #9e0e40
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search_glass img {
    width: 20px;
    height: 20px;
}

.daily_task,
.daily_task_second,
.table_appointment {
    margin-bottom: 20px;
    padding: 5px;
}

.liner_title {
    height: 1px;
    background-color: #ccc;
    margin-bottom: 20px;
}

.table_email {
    overflow-x: auto;
}

.arrow_more_mail {
    text-align: right;
    margin-top: 10px;
}

.arrow_more_mail img {
    width: 20px;
    height: 20px;
}

.task_display,
.days_objective,
.table_appointment {
    margin-bottom: 20px;
    padding: 10px;
    border: #333 1px solid;
}

.task_display button {
    color: white;
    background-color: #9e0e40;
    border: none;
    border-radius: 20px;
    width: 25%;
    padding: 3px;
}

.separator_task {
    height: 1px;
    background-color: #ccc;
    margin: 20px 0 20px 0;
}

.recover {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .all_dashboard {
        padding: 10px;
    }
}