@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair+Display&display=swap%27");

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Playfair Display', serif;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    color: #9e0e40;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

label {
    font-weight: 600;
    margin-bottom: 10px;
}

input[type="email"] {
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
}

button[type="submit"] {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: #9e0e40;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #7b0b32;
}

@media screen and (max-width: 768px) {
    input[type="email"] {
        width: 100%;
    }

    button[type="submit"] {
        width: 100%;
    }
}