@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair+Display&display=swap%27");

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Playfair Display', serif;
}

/* CSS pour le conteneur principal de la notification */
.info_notice {
    background-color: white;
    box-shadow: 0 0 10px #9e0e40;
    border-radius: 4px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

/* CSS pour le titre de la notification */
.info_notice h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

/* CSS pour le style des notifications individuelles */
.notification {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #9e0e40;
}

.notification .title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.notification .content {
    font-size: 14px;
    color: #666;
}

.notification .timestamp {
    font-size: 12px;
    color: #999;
}

/* CSS pour les styles de survol */
.notification:hover {
    background-color: #f5f5f5;
    border-color: #ddd;
    cursor: pointer;
}

.notif_one {
    color: black;
    margin: 5px;
    padding: 10px;
    border-bottom: 1px solid black;
}